:root {
  --stage-background-color: rgb(40, 39, 44);
}
* {
  box-sizing: border-box;
}
html, body, #root {
  background-color: var(--stage-background-color);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

g.node-small {
  --r: 0.06px;
}
g.node-medium {
  --r: 0.08px;
}
g.node-large {
  --r: 0.1px;
}